html
    head
        title= title
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    body.container

        h2 Login
        p Welcome to Broadway Infosy Nepal
        p Please login to continue
        h3= successMsg
        form(action="/auth/login",method="POST").form-group
            label(for="username") Username
            input(type="text",placeholder="Username",name="username").form-control
            label(for="password") Password
            input(type="password",placeholder="Password",name="password").form-control
            br
            input(type="submit", value="login").btn.btn-primary

        p Don't have an account?
            span register 
                a(href="/auth/register") here