html
    head
        title= title
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    body.container

        h2 Register
        p Welcome to Broadway Infosy Nepal
        p Please register  to continue
        form(method="POST").form-group
            label(for="name") Name
            input(type="text",placeholder="Name",name="name").form-control
            label(for="email") Email
            input(type="text",placeholder="Email",name="email").form-control
            label(for="username") Username
            input(type="text",placeholder="Username",name="username").form-control
            label(for="password") Password
            input(type="password",placeholder="Password",name="password").form-control           
            br
            input(type="submit", value="submit").btn.btn-primary

        p Already Registered?
            span back to 
                a(href="/auth/") login